.title-form{
    text-align: center;
    padding: 10px 20px 0px 20px;
    
}
.title-form__contact{
  color: var(--main-brand-color);
}

.contact-form {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-buttons {
    text-align: center;
    margin-top: 25px;
  }
  .form-buttons__save, .form-buttons__reset{
    border: 1px  solid var(--main-brand-color);
    background: var(--main-brand-color);
    color: var(--main-bg-color);
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.55s;
    text-align: center;
  }
  .form-buttons__save:hover, .form-buttons__reset:hover {
    border-color: #000;
    background: #000;
  }

  
  .form-buttons button {
    margin-right: 10px;
  }
  

  @media screen and (min-width: 768px) {
    .contact-form {
      max-width: 500px;
      margin: 0 auto;
    }
    .title-form__contact{
        border-bottom: none;
    }
  
    .form-group {
      display: flex;
      align-items: center;
    }
    .radio {
      display: block;
    }
  
    label {
      flex-basis: 150px;
      margin-bottom: 0;
    }
    .form-group__label{
      flex-basis: 200px;
    }
  
    input[type="text"],
    input[type="tel"],
    textarea {
      flex-grow: 1;
      margin-left: 10px;
    }
  }
  