.description {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-between;
  text-align: left;
  background-color: #eee;
}

.col {
  flex-basis: 100%;
}

.description__title {
  margin-bottom: 20px;
  color: var(--main-brand-color);
}

.description__about {
  margin-bottom: 20px;
}

.description__img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.skills {
  text-align: left;
}

.skills__title {
  margin-bottom: 10px;
}

.skill {
  margin-bottom: 20px;
}

.skill__name {
  margin-bottom: 5px;
}

.skill__bar {
  width: 100%;
  height: 5px;
  background-color: rgb(153 149 149);
  position: relative;
}

.skill__progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffa807;
  animation: progress-animation 2s ease-in-out;
}

.skill__progress.html {
  width: 90%;
}

.skill__progress.css {
  width: 80%;
}

.skill__progress.js {
  width: 70%;
}

@keyframes progress-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
   .container{
    max-width: 500px;
    margin: 0 auto;
  } 
  .col {
    flex-basis: 50%;
  }
}
